.header {
    background-color: #103e6e;
    height: 150px;
    display: flex;
    align-items: center ;
}
.logo-fucapi {
    width: 50px;
    height: 50px;
    padding-left: 20px;
    
}

.h1header {
    
    color: floralwhite;
    padding-left: 10px;
    padding-top: 4px;
    font-size: larger;

}
.Forms {
    width: 20px;
    height: 20px;
    padding-top: 7px;
    padding-left: 80px;
    padding-right: 30px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    
}


.cantinas {
   
    font-size: x-large;
    padding-left: 30px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;    
}

.info{
    font-size: x-large;
    font-family: Helvetica;
}

.MYACHE {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 1px;
    text-decoration: none;
    font-size: medium;    
}

.MYACHE a {
    align-items: center;
    line-height: 60px;
    margin: 0;
    background: #103e6e;
    color: white;
    border-radius: 10%;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 1px;
    text-decoration: none;
}

.gourmet {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 1px;
    text-decoration: none;
    font-size: medium;
}

.gourmet a {
    align-items: center;
    line-height: 60px;
    margin: 0;
    background: #103e6e;
    color: white;
    border-radius: 10%;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;    
}

.ice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 1px;
    text-decoration: none;
    font-size: medium;
    font-family: Arial;
}

.ice a {
    align-items: center;
    line-height: 60px;
    margin: 0;
    background: #103e6e;
    color: white;
    border-radius: 10%;
    padding-left: 58px;
    padding-right: 58px;
    text-decoration: none;
    box-sizing: border-box;    
}

.amada {
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 1px;
    text-decoration: none;
    font-size: medium;
}
.amada a {
    align-items: center;
    line-height: 60px;
    margin: 0;
    background: #103e6e;
    color: white;
    border-radius: 10%;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;    
}

.exemplo5 {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 1px;
    text-decoration: none;
    font-size: medium;
}

.exemplo5 a {
    
    align-items: center;
    line-height: 60px;
    margin: 0;
    background: #103e6e;
    color: white;
    border-radius: 10%;
    padding-left: 43px;
    padding-right: 43px;
    text-decoration: none;    
}

@media screen and (max-width: 768px) {
    .h1header
    .header
    .Forms

    
}
